.confirmation-form-layout{
  padding: 30px;
}

.confirmation-form-title{
  font-size: 32px;
  margin-bottom: 30px;
}

.confirmation-input-text{
  width: 300px;
  margin-bottom: 20px;
}

.confirmation-form-body{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 450px;
}

.btn-confirmar{
  width:100px;
}